<div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
  <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
    <div class="flex flex-wrap justify-center space-x-2 mb-4">
      <span
        class="px-4 py-2 rounded-full border border-gray-300 text-gray-500 font-semibold text-sm flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease"
      >
        Monday
      </span>
      <span
        class="px-4 py-2 rounded-full border border-gray-300 text-gray-500 font-semibold text-sm flex align-center w-max cursor-pointer active:bg-blue-300 transition duration-300 ease"
      >
        Tuesday
      </span>
      <span
        class="px-4 py-2 rounded-full border border-green-300 text-green-500 font-semibold text-sm flex align-center w-max cursor-pointer active:bg-green-500 active:border-green-500 transition duration-300 ease hover:bg-green-300 hover:text-white"
      >
        +
      </span>
    </div>
    <!-- <app-collapse title="Monday"> -->
    <app-table></app-table>
    <!-- <div class="flex my-3">
        <a
          [routerLink]="['/training-routines/form/15151515']"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full mx-auto w-50"
        >
          Add new rutine
        </a>
      </div> -->
    <!-- </app-collapse> -->
  </div>
</div>
