<section class="p-4 pt-0">
  <h1 class="text-4xl">Exercises day Monday</h1>

  <div class="mt-5" id="biceps">
    <div class="flex justify-between px-5 pb-2 items-center border-b">
      <h2 class="text-2xl">Biceps</h2>
      <div>
        <a
          [routerLink]="['/training-routines/form/1515']"
          class="btn bg-green-500 text-white p-3 rounded-lg"
        >
          Add
        </a>
        <button class="btn bg-red-500 text-white p-3 rounded-lg">Delete</button>
      </div>
    </div>
    <div class="mt-5">
      <div class="relative sm:rounded-lg">
        <table class="w-full text-sm text-left">
          <thead class="text-xs uppercase">
            <tr>
              <th scope="col" class="px-6 py-3"></th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Name</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Series</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">repetitions</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Time</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Rest</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Weight</th>
              <th scope="col" colspan="2" class="px-6 py-3 text-gray-500 uppercase tracking-wider">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="p-12 border"></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">Bench Press</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">3</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">12</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">10</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">1:00</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"
                >
                  100
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap flex flex-col gap-5">
                <button class="btn bg-red-500 text-white p-3 rounded-lg">Delete</button>
                <a
                  [routerLink]="['/training-routines/form/1515']"
                  class="btn bg-cyan-500 text-white p-3 rounded-lg"
                >
                  Edit
                </a>
              </td>
            </tr>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="p-12 border"></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">Bench Press</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">3</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">12</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">10</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">1:00</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"
                >
                  100
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap flex flex-col gap-5">
                <button class="btn bg-red-500 text-white p-3 rounded-lg">Delete</button>
                <button class="btn bg-cyan-500 text-white p-3 rounded-lg">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-5" id="legs">
    <div class="flex justify-between px-5 pb-2 items-center border-b">
      <h2 class="text-2xl">Legs</h2>
      <div>
        <a
          [routerLink]="['/training-routines/form/1515']"
          class="btn bg-green-500 text-white p-3 rounded-lg"
        >
          Add
        </a>
        <button class="btn bg-red-500 text-white p-3 rounded-lg">Delete</button>
      </div>
    </div>
    <div class="mt-5">
      <div class="relative sm:rounded-lg">
        <table class="w-full text-sm text-left">
          <thead class="text-xs uppercase">
            <tr>
              <th scope="col" class="px-6 py-3"></th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Name</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Series</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Time</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Rest</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Weight</th>
              <th scope="col" colspan="2" class="px-6 py-3 text-gray-500 uppercase tracking-wider">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="p-12 border"></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">Bench Press</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">3</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">12</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">10</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">1:00</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"
                >
                  100
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap flex flex-col gap-5">
                <button class="btn bg-red-500 text-white p-3 rounded-lg">Delete</button>
                <button class="btn bg-cyan-500 text-white p-3 rounded-lg">Edit</button>
              </td>
            </tr>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="p-12 border"></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">Bench Press</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">3</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">12</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">10</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">1:00</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"
                >
                  100
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap flex flex-col gap-5">
                <button class="btn bg-red-500 text-white p-3 rounded-lg">Delete</button>
                <button class="btn bg-cyan-500 text-white p-3 rounded-lg">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-5" id="shoulder">
    <div class="flex justify-between px-5 pb-2 items-center border-b">
      <h2 class="text-2xl">Shoulder</h2>
      <div>
        <a
          [routerLink]="['/training-routines/form/1515']"
          class="btn bg-green-500 text-white p-3 rounded-lg"
        >
          Add
        </a>
        <button class="btn bg-red-500 text-white p-3 rounded-lg">Delete</button>
      </div>
    </div>
    <div class="mt-5">
      <div class="relative sm:rounded-lg">
        <table class="w-full text-sm text-left">
          <thead class="text-xs uppercase">
            <tr>
              <th scope="col" class="px-6 py-3"></th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Name</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Series</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Time</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Rest</th>
              <th scope="col" class="px-6 py-3 text-gray-500 uppercase tracking-wider">Weight</th>
              <th scope="col" colspan="2" class="px-6 py-3 text-gray-500 uppercase tracking-wider">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="p-12 border"></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">Bench Press</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">3</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">12</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">10</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">1:00</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"
                >
                  100
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap flex flex-col gap-5">
                <button class="btn bg-red-500 text-white p-3 rounded-lg">Delete</button>
                <button class="btn bg-cyan-500 text-white p-3 rounded-lg">Edit</button>
              </td>
            </tr>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="p-12 border"></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">Bench Press</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">3</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">12</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">10</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="">
                    <div class="text-sm font-medium text-gray-900">1:00</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"
                >
                  100
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap flex flex-col gap-5">
                <button class="btn bg-red-500 text-white p-3 rounded-lg">Delete</button>
                <button class="btn bg-cyan-500 text-white p-3 rounded-lg">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
